* {
    font-family: 'OCR A Std', monospace;
    color: black;
    box-sizing: border-box;

}

body {
    overflow: scroll;
    background-color: #373c44;

}

header, main, footer {
    background-color: #9aa9ad;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.535),
			0 10px 10px rgba(0, 0, 0, 0.498);

    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
}

header {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;

    height:150px;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
}

footer {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.06em;

    margin: 0 1em;
    padding: 0 1em;
}


a {
    text-decoration: none;
    color: black;
}



.tabs { 
    font-size: 20px;
    letter-spacing: 0.06em;
    padding: 0 1em;
}

.image-background {
    position: relative;
    text-align: center;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.535),
			0 10px 10px rgba(0, 0, 0, 0.498);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 10px;

    border-radius: 5px;
    
   }

.container {
background-color: #9aa9ad;
border-radius: 10px;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.535),
        0 10px 10px rgba(0, 0, 0, 0.498);
position: relative;
overflow: hidden;
width: 768px;
max-width: 100%;
min-height: 480px;
}


.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


textarea {
    border-radius: 10px;
    margin: 0 1rem;
    padding: 0 1rem;
    resize: none;
    color : #9aa9ad;
}

.d-grid { 
    display: grid; 
    grid-template-columns: 1fr;
    width: 100%;
}

.align-end{
    align-self: end/important;
}



@media (max-width: 600px),(max-height: 800px) {

    header {
        top: 0;
        position: sticky;
        z-index: 1000;
    }

    footer {
        bottom:0;
        position:sticky;
    }
}